<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="index.php" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="personal-center.html" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="http://www.zhao.com" />
    </system.webServer>
</configuration>
